# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3

print(numberFloat)

numberFloat = 2.5
print(numberFloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

7.4

##### Subtraction

In [12]:
result_diff = 5-2

#short hand version
result_diff -=2
print(result_diff)

1

##### Multiplication

In [14]:
result_mul = num1* num2
print(result_mul)

#shorthand version
result_mul *=3
print(result_mul)

10.8
32.400000000000006

##### Division

In [15]:
result_div = num2/num1
print(result_div)

result_div /=2
print(result_div)

2.7
1.35

##### Floor Division

In [17]:
result_floor= num2 // num1
print(result_floor)

#shorthand
result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = 10 % 3
print(result_mod)

#shorthand
result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [22]:
square = 5**2
print(square)

#shorthand
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [ ]:
name = "sean"
print(name)

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print("This is my name : ", name.title())

print("Full name: ", name.title(), end=" Bunk")

This is my name :  Sean
Full name:  Sean Bunk

##### String Concatenation

In [32]:
first_name= "John"
last_name= "Smith"
full_name = first_name +' '+ last_name
print(full_name)

#shorthand
full_name += " Jr."
print(full_name)

John Smith
John Smith Jr.

##### Type Conversion

In [35]:
number = "32"
change_type_num = int(number)
change_type_num +=5
print(change_type_num)

37

##### input()

In [41]:
# # input() will ALWAYS return a string!!! ALL THE TIME

# name = input("What is your name? ")
# print(name)

age = int(input("How old are you? "))
new_age = age + 1
print(new_age)
# print(age)

How old are you? 33
34

##### format()

In [50]:
age = input("What is your age? ")
name = input("What is your name? ")

# age= 99
# name = "Sean"

result_string = "You are  {}, you are {} years old and you are getting wiser!".format(name, age).title()
print(result_string)

# result_again = f"{age + 2} is a great time in life!"
# print(result_again)

What is your age? 33
What is your name? sean bunk
You Are  Sean Bunk, You Are 33 Years Old And You Are Getting Wiser!

##### Old Way (python 2)

In [48]:
result_string2 =  "You are %s and you look great for your age!" %age
print(result_string2)

You are 99 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
color = input("What is the color of your vehicle? ")
year = input("What is the year of your car? ")
model = input("What is the name of your car? ")
make = input("What is the make of your car? ")
result = "Your car is a {}, made by {}, is a {} model, and is the color {}.".format(model, make, year, color)

print(result)

What is the color of your vehicle? Black
What is the year of your car? 2010
What is the name of your car? Civic SI
What is the make of your car? Honda
Your car is a Civic SI, made by Honda, is a 2010 model, and is the color Black.

### If Statements

In [13]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

#if thing that is true or false is true:
    #do this stuff
#this part will happen anyways

num2 = 10 
num1 = 5

if num1 == num1:
    print("Equal values")
else:
    print("Not equal")
if num2 >= num1:
    print("Num2 is greater than or equal to")
elif num2 < num1:
        print("Num2 is less than")
else:
    print("They're the same")

Equal values
Num2 is greater than or equal to

##### 'is' keyword

In [18]:
# use 'is' when checking for same or similar object, NOT the same value

num3 = 55
num4 = num3
if num3 is num4:
    print("This is the exact number")

This is the exact number

##### 'in' keyword

In [19]:
char_name = "Max Payne"

if "Max" in char_name:
    print("This character who lost everything...")

This character who lost everything...

##### 'not in' keyword'

In [20]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [10]:
name = input('What is your name? ')
if 'p' not in name:
    print('Theres no p in yo name!')
else:
    print("You gotta P in your name!")

What is your name? phil
You gotta P in your name!

## Using 'and'/'or' with If Statements

In [41]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statment
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [ ]:
first_name = "Max"
age = 10

if first_name == 'Max' and age == 10:
    print("I am Max, and I am 10")
elif first_name == "Max" or age == 10:
    print("I am either Max or I am 10")
else:
    print("The name is not Max")

### Else Statements

In [ ]:
# see above

### For Loops

In [58]:
# for item in iterable_thing:
    # do some stuff
    
name = 'Sean Bunk'
# print(len(name))

# for letter in name:
#     print(letter)

for letter in range(len(name)):
    print(name[letter])

S
e
a
n

B
u
n
k

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [59]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [60]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [61]:
for i in name:
    pass
# i will come back and finish this part of my code later!

##### Double For Loops

In [64]:
for i in range(5):
    for j in range(5):
        print("i = ",i , "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [2]:
#while condition statement (something that is true or false):
    #do some stuff repeatedly

num = 0
while num < 10:
    print(num)
    num += 1

# while True:
#     if num >= 10:
#         break
#     print(num)
#     num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [2]:
# game_over = True

# while game_over:
#     print("Infinite Loop")
#     game_over = False

game_running = True
score = 0
    
while game_running:
    user_input= input("Say some stuff ")
    if user_input == "quit":
        game_running =False
    print(user_input)
    score += 1
    print(f"Score: {score}")

Say some stuff quit
quit
Score: 1

##### While & For Loops Used Together

In [3]:
num = 0 

while num <= 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    
    num +=1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 5
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [6]:
#range(start,stop,step)
#Defaults: start= 0, stop is REQUIRED, step= 1

# for i in range(20):
#     print(i)
    
for i in range(5,20, 5):
    print(i)

5
10
15

##### len()

In [7]:
name = "Max"

length= len(name)
print(length)

3

##### help()

In [10]:
#The Python help() function invokes the interactive built-in help system. 

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### isinstance()

In [12]:
#T he isinstance() function returns True if the specified object is of the specified type, otherwise False .
#If the type parameter is a tuple, this function will return True if the object is one of the types in the tuple.

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [13]:
# | 5| absolute values

print(abs(-6))

6

### Try and Except

In [15]:
# Use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use this to log out graceful and informative error messages

try:
    number_test = 0
    input_num = int(input("Guess a number: "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR please change your input to a number")

Guess a number: 4
Your number is: 4

### Lists

##### Declaring Lists

In [31]:
my_list = [] #empty list

names = ["Max", "Cindy","Kathy", 5, "Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [16]:
#Syntax: list_name[start,stop,step]

# single index
print(names[3])

# Print the last value NO MATTER THE SIZE OF THE LIST:
print(names[-1])

# Print starting at 1 going to the end
print(names[1:])

# Print starting at beginning of list until the whatever index we give it
print(names[:3])

# Print from one inde to another
print(names[2:4])

# Print starting at index 1 going up by 2 for each iteration
print(names[1::2])

# Print starting at the end and going down by 1 each time
print(names[::-1])

5
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [32]:
names.append("bob")
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate', 'bob']

##### .insert()

In [33]:
names.insert(3, 'Gabby')
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'bob']

##### .pop()

In [34]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

my_name = names.pop(3)
print(my_name)
print(names)

Gabby
['Max', 'Cindy', 'Kathy', 5, 'Nate', 'bob']


##### .remove()

In [35]:
# Value to be removed, not the index
# names.remove('bob')
# print(names)

#remove multiple bobs from the list
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### del()

In [36]:
# Be careful, it can cause indexing errors if used imporoperly
# remove by index

del(names[1])
print(names)

['Max', 'Kathy', 5, 'Nate']

##### Concatenating Two Lists

In [37]:
first_list = [0,1,2]
second_list = [3,4,5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [40]:
names = ['Max', 'Sam', 'Josh',['Sally', 'Sue', 'Tamika']]

print(names)
print(names[3])
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tamika']]
['Sally', 'Sue', 'Tamika']
Sue

##### Looping Through Lists

In [42]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# With a for loop using the index
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop an in
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tamika']
Max
Sam
Josh
['Sally', 'Sue', 'Tamika']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
cubed = range(1,1200)

for i in cubed:
    cubed = i**3
    if cubed > 1000:
        break
    print(cubed)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [13]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 101):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [3]:

user_age = input("What is your age? ")

if int(user_age) < 18:
    print("kids")
elif int(user_age) <= 65:
    print('adults')
else:
    print("Senior citizen")

What is your age? 66
Senior citizen